body{
    background-color: #0D0D0D;
    
    
}

/* SIDE NAVEBAR */
.sideNavbar{
    position: fixed;
    left: -250px;
    /* left: 0px; */
    z-index: 999;
}
.logo{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 70px;
    background-color: white;
    text-align: center;
    padding: 30px 0;
}
.logo .logoIcon{
    font-size: 30px;
    cursor: pointer;
    color: black;
}
.logoImg{
    margin-left: 10px;
    width: 70%;
}
.logo .wenIcon{
    display: flex;
    flex-direction: column;
    color: black;
}
.logo .wenIcon i{
    padding-top:5px;
}
.navebar{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 30px 20px;
    background-color: #0D0D0D;
}
.navebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.navebar ul li{
    padding-bottom: 15px;
    /* background-color: tomato; */
    padding: 10px 0;
    margin: 10px 0;
    overflow: hidden;
    
}
.navebar ul li a{
    color: white;
    text-decoration: none;
    position: relative;
    bottom: -50px;
}
.navebar .socialIcon i{
color: white;
padding-right: 5px;
}

/* HOME */
#home ,#homeSearch , #homeCategory ,#homeIngredients ,#homeArea ,#homeContact , #nameCategory ,#nameIngredient, #nameArea{
    padding-top: 50px;
}
.imagHome{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.layer{
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    bottom: -100%;
    right: 0;
    left: 0;
    transition: all 0.5s;
    cursor: pointer;
}
.imagHome:hover .layer{
bottom: 0;
}

.SearchBody{
    /* padding: 30px 100px 30px 100px ; */
    padding: 30px 0px 30px 0px;
}
.searchInput{
    background-color: transparent;
}

.disCategory{
    padding: 0 20px 50px 20px;
}


#bodyArea .layerr h3 , #ingredientsbody .layerr h3{
    color: white;
    cursor: pointer;
}

#ingredientsbody .layerr i{
    color: white;
    cursor: pointer;
}
#ingredientsbody .layerr p{
    color: white;
    cursor: pointer;
}

#homeContact{
    padding: 0 70px;
}
.pSubmit{
    border: 1px solid rgb(137, 56, 56);
    padding: 5px 11px;
    color: rgb(137, 56, 56);
}

.details{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px dotted #FFF;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  @media screen and (max-width:768px) {
    .container{
        width: 60%;
        margin: auto;
    }
  }